* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Saira Stencil One', cursive;
    font-size: 25px;
    color: #f3d400;

}

html {
    background-color: #8844D5;
}/*#F7E8FD*/

.pageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-template-areas:
    "trackerM trackerM";
}

.maps {
    grid-area: trackerM;
}

