* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, h1 {
    font-family: 'Saira Stencil One', cursive;
    font-size: 20px;
    color: #f3d400;

}

html {
    background-color: #ac1616;
    text-align: center;
}/*#F7E8FD*/

/* return of the navbar */
/* style the navbar */
#navbar {
    overflow: hidden;
    background-color: #8844D5;
    border: 2px solid #6F04BF;
    display: flex;
    justify-content: center;

}
/* Navbar Links */
#navbar a {
    width: 15%;
    text-align: center;
}

/* Shine */
.Shine {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}
.Shine figure {
    position: relative;
    overflow: hidden;
}
/*255,255,255,0*/
/*243,212,0,0*/
/*136,63,213,0*/

.Shine figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 95%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.Shine figure:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    100% {
        left: 100%;
    }
}
@keyframes shine {
    100% {
        left: 100%;
    }
}

.pageContainer1 {
    background-color: #25d015;
    border: #268b00 solid 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "TS TS TS TS TS TS";

    width: 98vw;
    height: auto; /*83, 90 vh old*/
    margin: 1em;
}


.Terraspark {
    float: left;
    text-align: center;
    display: grid;
    grid-area: TS;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". . TST TST . ."
    ". FS . . LW ."
    ". FS TS TS LW .";


    width: 94vw;
    height: 80vh; /*83 vh old*/
    margin: 1em;
}

#terraSparkTitle {
    grid-area: TST;
}

#createFrostspark {
    grid-area: FS;
}

#createLavaWaders {
    grid-area: LW;
}

#createTerraSpark {
    grid-area: TS;
}

.pageContainer2 {
    background-color: #25d015;
    border: #268b00 solid 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "CP CP CP CP CP CP";

    width: 98vw;
    height: auto; /*83, 90 vh old*/
    margin: 1em;
}

.Cellphone {

    display: grid;
    grid-area: CP;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
    ". CT CT ."
    "GPS REK GT FF"
    "GPS REK GT FF"
    ". P P .";



    height: 80vh; /*83 vh old*/
    margin: 1em;
}

#cellphoneTitle {
    grid-area: CT;
}

#createGPS {
    grid-area: GPS;
}

#createREK3K {
    grid-area: REK;
}

#createGoblinTech {
    grid-area: GT;
}

#createFishFinder {
    grid-area: FF;
}

#createPhone {
    grid-area: P;
}