* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #8844D5;
}/*#F7E8FD*/

.button {
    color: #f3d400;
    background-color: #8844d5;
    border: 13px solid #6F04BF;
    padding: 10px 15px 10px 15px;
    font-size: 30px;
    font-family: Stencil, SansSerif, serif;
    text-decoration: none;
}

.pageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-template-areas:
    ". logo ."
    " . buttonContainer . "
    " . buttonContainer registerForm"
    " . buttonContainer loginForm ";
}

#pageLogo {
    margin-top: 50px;
    grid-area: logo;
}

/* Shine */
.Shine {
    grid-area: buttonContainer;
    justify-self: center;
}
.Shine figure {
    position: relative;
    overflow: hidden;
}
/*255,255,255,0*/
/*243,212,0,0*/
/*136,63,213,0*/

.Shine figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.Shine figure:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    100% {
        left: 100%;
    }
}
@keyframes shine {
    100% {
        left: 100%;
    }
}

input {
    float: right;
    width: 73%;
    margin-right: 2%;
}

.inputContainer {
    border-bottom: 5px solid #6F04BF;
    margin-top: 2%;
}

#registerForm {
    font-size: 20px;
    display: none;
    height: 125%;
    border: 15px solid #6F04BF;
    background-color: #6e6ec6;
    grid-area: registerForm;
}

#creationButton {
    float: left;
    margin: 2% 50% 0 35%;
    background-color: #f3d400;
    align-self: center;
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-radius: 50%;
}

#loginForm {
    font-size: 20px;
    display: none;
    height: 125%;
    border: 15px solid #6F04BF;
    background-color: #6e6ec6;
    grid-area: loginForm;
}

#ActualLoginButton {
    float: left;
    margin: 2% 50% 0 35%;
    background-color: #f3d400;
    align-self: center;
    width: 30%;
    height: 30%;
    border: 2px solid black;
    border-radius: 50%;
}